<ul id="userDropdown" class="dropdown-content">
	<li>
		<a href="" ng-click="logout()"><span class="fa fa-sign-out"></span>&nbsp;Logout</a>
	</li>
</ul>

<nav>
	<div class="nav-wrapper blue">

		<div ncy-breadcrumb />

		<ul class="right" ng-if="!identity">
			<li ng-show="state.current.name === 'login'">
				<a ui-sref="register">
					<span class="fa fa-user-plus"></span>
					Sign up
				</a>
			</li>
			<li ng-show="state.current.name === 'register'">
				<a ui-sref="login">
					<span class="fa fa-sign-in"></span>
					Sign in
				</a>
			</li>
		</ul>

		<ul class="right" ng-show="identity">
			<li>
				<a href="" class="dropdown-button" data-activates="userDropdown" dropdown data-beloworigin="true" data-constrainwidth="false">
					{{identity.username}}
					<span class="fa fa-caret-down"></span>
				</a>
			</li>
		</ul>

	</div>
</nav>
