<div id="board-container">

	<div id="board-table-wrapper" class="center-align">
		<div class="card-panel blue lighten-2 white-text center" ng-if="::columns.length === 0">
			Board has no columns yet
		</div>
		
		<table id="table" class="z-depth-1" ng-if="::columns.length > 0">
			<thead>
			<tr>
				<th ng-repeat="column in columns track by column.id">
					{{::column.name}}
					<small>
						[{{column.tasks.length}}<!--
					--><span ng-if="column.workInProgressLimit > 0">
						/ {{column.workInProgressLimit}}<!--
					--></span>]
					</small>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td ng-repeat="column in columns track by column.id"
					as-sortable="dragListeners"
					ng-model="column.filteredTasks">
					<div class="task"
						 ng-repeat="task in column.filteredTasks"
						 ng-click="openTaskDetails(task)"
						 as-sortable-item>
						<div as-sortable-item-handle>
							<header board-label="{{::labels[task.labelId].color}}">
								#{{::task.idOnBoard}}
							</header>
							<section>
								{{::task.title | characters:70}}
							</section>
							<footer>
								<span ng-switch="::task.priority">
									<i ng-switch-when="LOW"
									   class="fa fa-circle green-text"
									   data-tooltip="Low priority"
									   tooltipped></i>
									<i ng-switch-when="MEDIUM"
									   class="fa fa-exclamation orange-text"
									   data-tooltip="Medium priority"
									   tooltipped></i>
									<i ng-switch-when="HIGH"
									   class="fa fa-exclamation-triangle red-text"
									   data-tooltip="High priority"
									   tooltipped></i>
								</span>
								<i class="fa fa-user"
								   data-tooltip="Assigned to {{::members[task.assigneeId].username}}"
								   ng-if="::task.assigneeId"
								   tooltipped></i>
								<i class="fa fa-align-left grey-text text-lighten-1"
								   data-tooltip="Task has a description"
								   ng-if="::task.description"
								   tooltipped></i>

								<span class="right">
									<a href=""
									   data-activates='board-task-options-{{::task.id}}'
									   data-alignment="right"
									   data-constrainwidth="false"
									   ng-click="$event.stopPropagation()"
									   dropdown>
										<i class="fa fa-ellipsis-v grey-text clickable"
										   data-tooltip="Options"
										   tooltipped></i>
									</a>

									<ul id='board-task-options-{{::task.id}}' class='dropdown-content'>
										<li ng-if="::columns[0].id !== task.columnId">
											<a href="" ng-click="moveTaskLeft(task); $event.stopPropagation()">
												move left
											</a>
										</li>
										<li ng-if="::columns[columns.length - 1].id !== task.columnId">
											<a href="" ng-click="moveTaskRight(task); $event.stopPropagation()">
												move right
											</a>
										</li>
										<li>
											<a href="" ng-click="deleteTask(task); $event.stopPropagation()">
												delete
											</a>
										</li>
									</ul>
								</span>
							</footer>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	</div>

	<div id="board-info-hidden-tasks" class="grey darken-3 white-text left-align" ng-if="numberOfHiddenTasks > 0">
		<span ng-if="numberOfHiddenTasks === 1">One task hidden due to filters</span>
		<span ng-if="numberOfHiddenTasks > 1">{{numberOfHiddenTasks}} tasks hidden due to filters</span>
		<button class="btn-flat orange-text right" ng-click="clearAllFilters()">
			show all
		</button>
	</div>
</div>

<div id="board-filters-menu" class="side-nav">
	<div ng-if="view.filters">
		<div class="row">
			<div class="col s12">
				<h4>Filters</h4>
			</div>
		</div>

		<div class="row">
			<div class="col s12 input-field input-with-button">
				<input type="text"
					   id="board-filtersr-input-task-title"
					   name="title"
					   ng-change="filter()"
					   ng-model="filters.title"
					   ng-model-options="{debounce: 250}"
					   autofocus/>
				<i class="fa fa-times input-button red-text text-lighten-3 clickable"
				   ng-click="filters.title = null; filter()"
				   ng-show="filters.title"></i>
				<label for="board-filtersr-input-task-title">Title</label>
			</div>
		</div>

		<div class="row">
			<div class="col s12 input-field">
				<select id="board-filters-select-priority"
						ng-change="filter()"
						ng-model="filters.priority"
						ng-options="::priority.value as priority.name for priority in taskPriorities"
						material-select>
					<option value="">All</option>
				</select>
				<label for="board-filters-select-priority">Priority</label>
			</div>
		</div>

		<div class="row">
			<div class="col s12 input-field">
				<select id="board-filters-select-label"
						ng-change="filter()"
						ng-model="filters.labelId"
						ng-options="::label.id as label.name for (id, label) in labels"
						material-select>
					<option value="">All</option>
				</select>
				<label for="board-filters-select-label">Label</label>
			</div>
		</div>

		<div class="row">
			<div class="col s12 input-field">
				<select id="board-filters-select-assignee"
						ng-change="filter()"
						ng-model="filters.assigneeId"
						ng-options="::member.userId as member.username for member in board.members"
						material-select>
					<option value="">All</option>
				</select>
				<label for="board-filters-select-assignee">Assignee</label>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<button id="board-filters-button-hide"
						class="btn-flat teal-text"
						ng-click="hideFilters()"
						sidenav-hide>
					hide
				</button>
				<button id="board-filters-button-clear-all" class="btn-flat" ng-click="clearAllFilters()">
					clear all
				</button>
			</div>
		</div>
	</div>
</div>
