<div id="board-container">
	<div class="row">
		<div class="col s12 right-align">
			<button class="btn" ng-click="openTaskCreator()">
				<i class="fa fa-plus"></i>
				New task
			</button>
			<a class="btn" ui-sref="boardSettings({boardId: board.id})">
				<i class="fa fa-cog"></i>
				Settings
			</a>
		</div>
	</div>

	<div id="board-table-wrapper" class="center-align">
		<table id="table" class="z-depth-1">
			<thead>
			<tr>
				<th ng-repeat="column in columns track by column.id">
					{{column.name}}
					<small>
						[{{column.tasks.length}}<!--
					--><span ng-if="column.workInProgressLimit > 0">
						/ {{column.workInProgressLimit}}<!--
					--></span>]
					</small>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td ng-repeat="column in columns track by column.id"
					as-sortable="dragListeners"
					ng-model="column.tasks">
					<div class="task"
						 ng-repeat="task in column.tasks track by task.id"
						 ng-click="openTaskDetails(task)"
						 as-sortable-item>
						<div as-sortable-item-handle>
							<header style="background-color: {{labels[task.labelId].color}}"></header>
							<section>
								{{task.title}}
								<span class="right" ng-class="{'green-text': task.priority === 'LOW', 'orange-text': task.priority === 'MEDIUM', 'red-text': task.priority === 'HIGH'}">
									<i class="fa fa-exclamation-triangle"></i>
								</span>
							</section>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

