<div class="row">
	<div class="col s12 right-align">
		<button class="btn" ng-click="openTaskCreator()">
			<i class="fa fa-plus"></i>
			New task
		</button>
		<a class="btn" ui-sref="boardSettings({boardId: board.id})">
			<i class="fa fa-cog"></i>
			Settings
		</a>
	</div>
</div>

<table id="table">
	<thead>
		<tr>
			<th ng-repeat="column in columns track by column.id">
				{{column.name}}
				<small>
						[{{column.tasks.length}}<!--
					--><span ng-if="column.workInProgressLimit > 0">
						/ {{column.workInProgressLimit}}
					</span>]
				</small>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-repeat="column in columns track by column.id">
				<div class="task" ng-repeat="task in column.tasks track by task.id">
					<header style="background-color: {{labels[task.labelId].color}}"></header>
					<section>
						{{task.title}}
						{{task.labelId}}
					</section>
				</div>
			</td>
		</tr>
	</tbody>
</table>

