<div class="modal-content">

	<h4>Create new board</h4>

	<form name="newTaskForm">

		<div class="row row-compact">
			<div class="col s12" input-field>
				<input type="text"
					   id="task-creator-input-task-title"
					   name="title"
					   ng-model="task.title"
					   ng-minlength="2"
					   ng-maxlength="500"
					   required autofocus/>
				<label for="task-creator-input-task-title">Title</label>

				<div class="error-message">
					<p ng-show="newTaskForm.title.$dirty && newTaskForm.title.$error.minlength">
						Too short (minimum 2 characters)
					</p>
					<p ng-show="newTaskForm.title.$dirty && newTaskForm.title.$error.maxlength">
						Too long (maximum 500 characters)
					</p>
					<p ng-show="newTaskForm.title.$dirty && newTaskForm.title.$error.required">
						Title is required
					</p>
				</div>
			</div>
		</div>

		<div class="row row-compact">
			<div class="col s12" input-field>
				<textarea id="task-creator-input-task-description"
						  class="materialize-textarea"
						  name="description"
						  ng-model="task.description"
						  ng-maxlength="10000">
				</textarea>
				<label for="task-creator-input-task-description">Description</label>

				<div class="error-message">
					<p ng-show="newTaskForm.description.$dirty && newTaskForm.description.$error.maxlength">
						Too long (maximum 10000 characters)
					</p>
				</div>
			</div>
		</div>

		<div class="row row-compact">
			<div class="col s6" input-field>
				<select id="task-creator-select-column"
						ng-model="task.columnId"
						ng-options="column.id as column.name for column in columns"
						material-select>
				</select>
				<label for="task-creator-select-column">Column</label>
			</div>

			<div class="col s6" input-field>
				<select id="task-creator-select-label"
						ng-model="task.labelId"
						ng-options="label.id as label.name for label in labels"
						material-select>
					<option value="">None</option>
				</select>
				<label for="task-creator-select-label">Label</label>
			</div>
		</div>

		<div class="row row-compact">
			<div class="col s6" input-field>
				<select id="task-creator-select-assignee"
						ng-model="task.assigneeId"
						ng-options="member.userId as member.username for member in board.members"
						material-select>
					<option value="">None</option>
				</select>
				<label for="task-creator-select-assignee">Assignee</label>
			</div>

			<div class="col s6" input-field>
				<select id="task-creator-select-priority"
						ng-model="task.priority"
						ng-options="priority.value as priority.name for priority in taskPriorities"
						material-select>
				</select>
				<label for="task-creator-select-priority">Priority</label>
			</div>
		</div>

	</form>

</div>

<div class="modal-footer">
	<button class="waves-effect waves-green btn-flat green-text"
			ng-click="create()"
			ng-disabled="newTaskForm.$invalid">
		Create
	</button>
	<button class="waves-effect waves-red btn-flat red-text"
			ng-click="$dismiss()">
		Cancel
	</button>
</div>
