#board-table-wrapper {
	padding: 0 10px;
}

#table {
	background-color: white;
	table-layout: fixed;

	td {
		border: 1px solid #d0d0d0;
		vertical-align: top;
	}

	th {
		border: 1px solid #d0d0d0;
		padding: 5px;
		text-align: center;

		small {
			font-weight: normal;
		}
	}
}

.task {
	background-color: white;
	border: 1px solid #d0d0d0;
	margin: 5px;

	header {
		min-height: 20px;
	}

	section {
		padding: 5px;
	}
}

.as-sortable-dragging > div {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-options {
	padding: 10px;
}

.collection .collection-item.label-collection-item {
	min-height: 60px;
}
